.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}


#root {
  margin-left:100px;
  margin-top: 130px;
  padding-bottom: 20px;
  color: rgb(80, 80, 80);
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.NavBar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  height: 80px;
  background-color: rgb(255, 217, 0);
  width: 100%;
  font-size: 2em;
}

.NavBar h1 {
  margin: 0px;
}

.navBarImg {
  height: 80%;
  margin: 10px;
}

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #888585;
  height: 100%;
  width: 90px;
  padding: 0px;
  padding-top: 20px;
  margin-top: 80px;

}

.sideBar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 10px;
}

.aboutCard {
  border: 3px solid rgb(255, 217, 0);
  padding: 50px;
  border-radius: 20px;
  font-size: 1.5em;
  display: flex;
  gap: 50px;
  width:35%
}

.profilePic{
  height:80%;
  width: 80%;
  border-radius: 20px;
}

.recipeCard {
  /* margin: 5px; */
  padding: 10px;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px #000000;
}

.recipeCard:hover{
  box-shadow: 0px 0px 16px 0px rgb(255, 217, 0);
}

.delete {
  border: none;
  background-color: rgb(255, 217, 0);
  width: 40%;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
}

.delete:hover {
  border: 2px solid black;
}

.fotoDeReceta {
  height:200px;
  width:400px;
  border-radius: 15px;
}

.singleRecipePage {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.singleRecipePage img{
  width:600px;
  height:300px;
  border-radius: 15px;
}

.contenido {
  display:flex;
  flex-wrap: wrap;
  gap: 20px;  
}

.formEdit {
  background-color: rgb(255, 217, 0) ;
  margin:0px;
  padding: 10px;
  line-height: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 10px rgb(255, 217, 0);
}
.formEdit h1 {
  font-size: 1.5em;
}

[role='tooltip'].popup-content {
padding: 5px;
background-color: transparent;
border:none;
}
.popup-content {
  border:none;
}
.popup-arrow {
  border: none;
  border-radius: 15px;
}
[data-popup='tooltip'].popup-overlay {
  border:none;
}
.popup-overlay {
  border:none;
}

/*
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
*/

.formAddNew {
  margin-left: 40px;
  margin-right: 10px;
  padding-bottom: 20px;
  /* border: solid 1px black; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px #000000;
  gap: 10px;
}

footer {
  text-align: center;
  padding: 3px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20px;
  background-color: rgb(255, 217, 0);
}
footer a {
  text-decoration: none;
}

footer a img {
  height: 80%;
  margin-right: 5px;
  margin-top:3px
}

.icon {
  height:40px;
  width: 40px;
  margin: 10px
}